@font-face {
    font-family: china;
    src: url(./3856NeueMachina.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100vh;
    width: 100%;
}
body{
    overflow-x: hidden;
}
section{

    height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
nav h1{
    font-size: 40px;
}
nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 45px;
}
nav h4{
    font-size: 20px;
    font-weight: 500;
}
nav button{
    padding: 15px 30px;
    font-size: 18px;
    background-color: transparent;
    font-weight: 600;
    border-radius: 8px;
    border:2px solid #000;
}
.center{
    padding: 30px 40px;
    height: 80vh;
    width: 100%;
    display: flex;
}
.center-part1{
    height: 100%;
    width: 44%;
}
.center-part1 h1{
    line-height: 1.2;
    font-size: 55px;
    font-family: china;
}
.center-part1 p{
    font-size: 18px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.center-part2{
    height: 100%;
    width: 56%;
    position: relative;
}
.center-part2 img{
    position: absolute;
    right: 0;
    height: 100%;
}
.section2top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}
.section2top img{
    margin-top: 30px;
    height: 60px;
}
.section2 .services{
    margin-top: 60px;
    padding: 40px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    
}
.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    font-size: 60px;
    font-family: china;
}
.services p{
    width: 40%;
    font-size: 20px;
    font-weight: 500;
}
.container{
    min-height: 80vh;
    width: 100%;
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.elem{
    margin: 30px 0px;
    display: flex;
    flex-shrink: 0;
    padding: 40px;
    height: 350px;
    width: 48%;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 0 10px 0 black;
}
.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-part2{
    height: 100%;
    width: 50%;
}
.elem-part2 img{
    height: 100%;
    width: 100%;
}
.elem-part1 h2{
    font-size: 28px;
    font-family: china;
    width: 90%;
    padding: 0 5px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #9AE975;
}
.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 20px;
}
.elem-part1 h4 i{
    padding: 15px;
    background-color: black;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.black .elem-part1 h4{
    color: #fff;
}
.black .elem-part1 h4 i{
    color: #000000;
    background-color: #fff;
}
.black .elem-part1 h2{
    background-color: white;
}
